
 * {
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
}

.header {
width: 100%;
height: 200px;
display: block;
}

.inner_header {
    width: 100;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-image: url(../image/bg1.jpg);
    background-size: cover;
}

.logo_container {
    height : 100%;
    display: flex;
    float: left;
    flex-direction: column;
    justify-content: center;
   
}

.logo_container h1{
    font-family: 'Chinese Rocks', sans-serif;
    color: #fefbfb;  
    display: table-cell;
    vertical-align: middle;
    font-size: 80px;
    margin-left: 10%;
    white-space: nowrap;

}
.logo_container p{
    font-family: 'Chinese Rocks', sans-serif;
    color: #fefbfb;  
    display: table-cell;
    vertical-align: middle;
    font-size: 40px;
    margin-left: 15%;
    white-space: nowrap;
}

.navigation {
    float : right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    font-family: 'Chinese Rocks', sans-serif;
    color: #fefbfb;
    float: left;
    padding: 0px 20px;
}

.navigation li{
display: table-cell;
vertical-align: middle;
height: 100%;
font-size: 30px;

}


body {
    background-color: #000000;
    font-family: 'Chinese Rocks', sans-serif;
    color: #fefbfb;  
    font-size: 20px;
    color: #f4f1f1;
    align-items: center;
    justify-content: center;
    word-spacing: 2px;
}
/* .header {
    background-image: url(../image/374709.jpg);
    display: flex;
    flex-direction: column;
    height:200px;
    width: 100%;
    margin: 0;
    gap:0px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-family: Chinese Rocks, sans-serif;
    font-size: 40px;
    color: #fefbfb;
    background-size: contain;
    top:0%;
    left:0%;
    }
.pp {
    margin-left: -1100px;


}
   

}
.liens2 {
   background-color: #fefbfb;
   z-index: 10;
   position:absolute;
    top: 50px;
    right: 600px;
    color: #EE0000;
    background-color: black;
    font-family: Chinese Rocks, sans-serif;
    font-size: 180%;

}
.liens3 {
   background-color: #fefbfb;
   z-index: 10;
   position:absolute;
    top: 50px;
    right: 280px;
    color: #EE0000;
    background-color: black;
    font-family: Chinese Rocks, sans-serif;
    font-size: 180%;
} */
 .header {
width: 100%;
height: 200px;
display: block;
}

.inner_header {
    width: 100;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-image: url(../image/bg1.jpg);
    background-size: cover;
}

.logo_container {
    height : 100%;
    display: flex;
    float: left;
    flex-direction: column;
    justify-content: center;
   
}

.logo_container h1{
    font-family: 'Chinese Rocks', sans-serif;
    color: #fefbfb;  
    display: table-cell;
    vertical-align: middle;
    font-size: 80px;
    margin-left: 10%;
    white-space: nowrap;

}
.logo_container p{
    font-family: 'Chinese Rocks', sans-serif;
    color: #fefbfb;  
    display: table-cell;
    vertical-align: middle;
    font-size: 40px;
    margin-left: 15%;
    white-space: nowrap;
}

.navigation {
    float : right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    font-family: 'Chinese Rocks', sans-serif;
    color: #fefbfb;
    float: left;
    padding: 0px 20px;
}

.navigation li{
display: table-cell;
vertical-align: middle;
height: 100%;
font-size: 30px;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 40% 1fr;
    grid-auto-flow: row;
    gap: px 50px;

    
}

.card1 {
     display: grid;
  place-items: end center;

    
}

.card2 {
  display: grid;
  place-items: end center;

}

.card3 {

  display: grid;
  place-items: end center;
}
.card4 {
    justify-content: center;
    place-items: center;
      margin-right: 10%;
     margin-left: 10%;
}

.card5 {
    display:grid;
    justify-content: center;
    place-items: center;
    object-fit: cover;




}

.card6{
    display: grid;
    justify-content: center;
    place-items: center;
    grid-column: 3 / 4;
     grid-row: 2 / 4;
     padding-top: 50%;
     object-fit: cover;
     overflow: hidden;
     margin-right: 10%;
     margin-left: 10%;

}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.red {
    color:#EE0000;
    background-color: black;
}
a {
    text-decoration: none;
    color: #fefbfb;
}

.footer { width: 100%;
    height: 40px;
    display: block;
    background-color: rgb(0, 0, 0);
}

.inside-footer {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;

}

.footer-nav {
display:flex;
justify-content: center;
align-items: center;
gap: 30px;
padding: 20px 0px;
list-style: none;
margin: 0;
}

.footer-nav a{
    height: 100%;
    font-family: 'Chinese Rocks', sans-serif;
    color: #fefbfb;
    float: center;
    padding: 0px 20px;
    color: red;

}

.footer-nav li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-size: 30px;
}