
 * {
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
}

.header {
width: 100%;
height: 200px;
display: block;
}

.inner_header {
    width: 100;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-image: url(../image/bg1.jpg);
    background-size: cover;
}

.logo_container {
    height : 100%;
    display: flex;
    float: left;
    flex-direction: column;
    justify-content: center;
   
}

.logo_container h1{
    font-family: 'Chinese Rocks', sans-serif;
    color: #fefbfb;  
    display: table-cell;
    vertical-align: middle;
    font-size: 80px;
    margin-left: 10%;
    white-space: nowrap;

}
.logo_container p{
    font-family: 'Chinese Rocks', sans-serif;
    color: #fefbfb;  
    display: table-cell;
    vertical-align: middle;
    font-size: 40px;
    margin-left: 15%;
    white-space: nowrap;
}

.navigation {
    float : right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    font-family: 'Chinese Rocks', sans-serif;
    color: #fefbfb;
    float: left;
    padding: 0px 20px;
}

.navigation li{
display: table-cell;
vertical-align: middle;
height: 100%;
font-size: 30px;

}


body {
    background-color: #000000;
    font-family: 'Chinese Rocks', sans-serif;
    color: #fefbfb;  
    font-size: 20px;

}
   


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 40% 1fr;
    grid-auto-flow: row;
    gap: px 50px;

    
}

.card1 {
     display: grid;
  place-items: end center;

    
}

.card2 {
  display: grid;
  place-items: end center;

}

.card3 {

  display: grid;
  place-items: end center;
}
.card4 {
    justify-content: center;
    place-items: center;
      margin-right: 10%;
     margin-left: 10%;
}

.card5 {
    display:grid;
    justify-content: center;
    place-items: center;
    object-fit: cover;




}

.card6{
    display: grid;
    justify-content: center;
    place-items: center;
    grid-column: 3 / 4;
     grid-row: 2 / 4;
     padding-top: 50%;
     object-fit: cover;
     overflow: hidden;
     margin-right: 10%;
     margin-left: 10%;

}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.red {
    color:#EE0000;
    background-color: black;
}
