* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    font-family: Chinese Rocks, sans-serif;
    font-size: 20px;
    color: #f4f1f1;
    align-items: center;
    justify-content: center;
    word-spacing: 2px;
}
.header {
    background-image: url(../image/374709.jpg);
    display: flex;
    flex-direction: column;
    height:200px;
    width: 100%;
    margin: 0;
    gap:0px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-family: Chinese Rocks, sans-serif;
    font-size: 40px;
    color: #fefbfb;
    background-size: contain;
    top:0%;
    left:0%;
    }
.pp {
    margin-left: -1100px;


}
.liens1 {
   background-color: #fefbfb;
   z-index: 10;
   position:absolute;
    top: 50px;
    right: 800px;
    color: #EE0000;
    background-color: black;
    font-family: Chinese Rocks, sans-serif;
    font-size: 180%;

}
.liens2 {
   background-color: #fefbfb;
   z-index: 10;
   position:absolute;
    top: 50px;
    right: 600px;
    color: #EE0000;
    background-color: black;
    font-family: Chinese Rocks, sans-serif;
    font-size: 180%;

}
.liens3 {
   background-color: #fefbfb;
   z-index: 10;
   position:absolute;
    top: 50px;
    right: 280px;
    color: #EE0000;
    background-color: black;
    font-family: Chinese Rocks, sans-serif;
    font-size: 180%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 40% 1fr;
    grid-auto-flow: row;
    gap: px 50px;

    
}

.card1 {
     display: grid;
  place-items: end center;

    
}

.card2 {
  display: grid;
  place-items: end center;

}

.card3 {

  display: grid;
  place-items: end center;
}
.card4 {
    justify-content: center;
    place-items: center;
      margin-right: 10%;
     margin-left: 10%;
}

.card5 {
    display:grid;
    justify-content: center;
    place-items: center;
    object-fit: cover;




}

.card6{
    display: grid;
    justify-content: center;
    place-items: center;
    grid-column: 3 / 4;
     grid-row: 2 / 4;
     padding-top: 50%;
     object-fit: cover;
     overflow: hidden;
     margin-right: 10%;
     margin-left: 10%;

}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.red {
    color:#EE0000;
    background-color: black;
}
