* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0b0b0b;
    font-family: Chinese Rocks, sans-serif;
    font-size: 20px;
    color: #f4f1f1;
    align-items: center;
    justify-content: center;
}
.header {
    background-image: url(../image/374709.jpg);
    display: flex;
    flex-direction: column;
    height:200px;
    width: 100%;
    margin: 0;
    gap:0px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-family: Chinese Rocks, sans-serif;
    font-size: 40px;
    color: #fefbfb;
    background-size: contain;
    top:0%;
    left:0%;
    }
.pp {
    margin-left: -1100px;


}
.liens1 {
   background-color: #fefbfb;
   z-index: 10;
   position:absolute;
    top: 50px;
    right: 800px;
    color: #EE0000;
    background-color: black;
    font-family: Chinese Rocks, sans-serif;
    font-size: 180%;

}
.liens2 {
   background-color: #fefbfb;
   z-index: 10;
   position:absolute;
    top: 50px;
    right: 600px;
    color: #EE0000;
    background-color: black;
    font-family: Chinese Rocks, sans-serif;
    font-size: 180%;

}
.liens3 {
   background-color: #fefbfb;
   z-index: 10;
   position:absolute;
    top: 50px;
    right: 280px;
    color: #EE0000;
    background-color: black;
    font-family: Chinese Rocks, sans-serif;
    font-size: 180%;
}

.parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
border: 1px solid red;
}

.div1 { grid-area: 1 / 1 / 2 / 2;
align-items: center;
justify-items: center; 
border: 1px solid red;}
 
.div2 { grid-area: 1 / 2 / 3 / 3;
border: 1px solid red; }
.div3 { grid-area: 2 / 3 / 3 / 4; 
border: 1px solid red;}