* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-image: url(../image/374709.jpg);
    display: flex;
    flex-direction: column;
    height:200px;
    width: 100%;
    margin: 0;
    gap:0px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-family: Chinese Rocks, sans-serif;
    font-size: 40px;
    color: #fefbfb;
    background-size: contain;
    top:0%;
    left:0%;
    }

body {
    background-color: #0b0b0b;
    font-family: Chinese Rocks, sans-serif;
    font-size: 20px;
    color: #f4f1f1;
}
.pp {
    margin-left: -1100px;


}
.liens1 {
   background-color: #fefbfb;
   z-index: 10;
   position:absolute;
    top: 50px;
    right: 800px;
    color: #EE0000;
    background-color: black;
    font-family: Chinese Rocks, sans-serif;
    font-size: 180%;

}
.liens2 {
   background-color: #fefbfb;
   z-index: 10;
   position:absolute;
    top: 50px;
    right: 600px;
    color: #EE0000;
    background-color: black;
    font-family: Chinese Rocks, sans-serif;
    font-size: 180%;

}
.liens3 {
   background-color: #fefbfb;
   z-index: 10;
   position:absolute;
    top: 50px;
    right: 280px;
    color: #EE0000;
    background-color: black;
    font-family: Chinese Rocks, sans-serif;
    font-size: 180%;
}




.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    text-align: center;
    background-color: #000000;
    line-height: 2em;
    align-items: center;
    justify-content: center;

}
    

.div2 {
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 2;
    background-color: #000000;
}

.div3 {
    grid-row: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 1;
}

#morgane { 
     max-width: 100%;
  height: 1000px;
  object-fit: cover;
    }

.red {
    color:#EE0000;
    background-color: black;
}