*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    font-family: 'Chinese Rocks', sans-serif;
    color: #fefbfb;
}
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.container {
    padding: 10px 50px;
    position: relative;

    width: 50%;
}

.text-box {
    padding: 20px 30px;
    background-color: #1f0d0d;
    position: relative;
    border-radius: 10px;
    font-size: 15px;
}

.left-container {
    left: 0;
}
.right-container {
    left: 50%;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background:#fff ;
    top: 0;
    left: 50%;
    margin-left: -4px;
    z-index: -1;
}

.container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px; 
    z-index: 10;

}
.right-container img{
    left: -20px;
}

/* .header {
    background-image: url(../image/374709.jpg);
    display: flex;
    flex-direction: column;
    height:200px;
    width: 100%;
    margin: 0;
    gap:0px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-family: Chinese Rocks, sans-serif;
    font-size: 40px;
    color: #fefbfb;
    background-size: contain;
    top:0%;
    left:0%;
    }

    .pp {
    margin-left: -1100px;
}

.liens1 {
   background-color: #fefbfb;
   z-index: 10;
   position:absolute;
    top: 50px;
    right: 800px;
    color: #EE0000;
    background-color: black;
    font-family: Chinese Rocks, sans-serif;
    font-size: 180%;

}
.liens2 {
   background-color: #fefbfb;
   z-index: 10;
   position:absolute;
    top: 50px;
    right: 600px;
    color: #EE0000;
    background-color: black;
    font-family: Chinese Rocks, sans-serif;
    font-size: 180%;

}
.liens3 {
   background-color: #fefbfb;
   z-index: 10;
   position:absolute;
    top: 50px;
    right: 280px;
    color: #EE0000;
    background-color: black;
    font-family: Chinese Rocks, sans-serif;
    font-size: 180%;
} */
 .header {
width: 100%;
height: 200px;
display: block;
}

.inner_header {
    width: 100;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-image: url(../image/bg1.jpg);
    background-size: cover;
}

.logo_container {
    height : 100%;
    display: flex;
    float: left;
    flex-direction: column;
    justify-content: center;
   
}

.logo_container h1{
    font-family: 'Chinese Rocks', sans-serif;
    color: #fefbfb;  
    display: table-cell;
    vertical-align: middle;
    font-size: 80px;
    margin-left: 10%;
    white-space: nowrap;

}
.logo_container p{
    font-family: 'Chinese Rocks', sans-serif;
    color: #fefbfb;  
    display: table-cell;
    vertical-align: middle;
    font-size: 40px;
    margin-left: 15%;
    white-space: nowrap;
}
.navigation {
    float : right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    font-family: 'Chinese Rocks', sans-serif;
    color: #fefbfb;
    float: left;
    padding: 0px 20px;
}

.navigation li{
display: table-cell;
vertical-align: middle;
height: 100%;
font-size: 30px;

}

a {
    text-decoration: none;
    color: #fefbfb;
}

.footer { width: 100%;
    height: 40px;
    display: block;
    background-color: rgb(0, 0, 0);
}

.inside-footer {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;

}

.footer-nav {
display:flex;
justify-content: center;
align-items: center;
gap: 30px;
padding: 20px 0px;
list-style: none;
margin: 0;
}

.footer-nav a{
    height: 100%;
    font-family: 'Chinese Rocks', sans-serif;
    color: #fefbfb;
    float: center;
    padding: 0px 20px;
    color: red;

}

.footer-nav li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-size: 30px;
}